@font-face {
    font-family: "Anton";
    src: url(../fontes/Anton/Anton-Regular.ttf)
}

@font-face {
  font-family: "Open";
  src: url(../fontes/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}

@font-face {
  font-family: "Lato";
  src: url(../fontes/Lato/Lato-Regular.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
body {
  height: 100%;
  margin: 0;
  padding: 0;
  }
    
.fundo {
  max-width: 1400px;
  margin: 0 auto;
  padding: -5.5%;
  background-color: #3f3fbe;
  }
    
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  }

#lapa {
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
  }

#lapa a img {
    width: 50px;
    text-decoration: none;
    transition: 0.6s;
  }

ul {
    list-style: none;
  }
    
ul li {
      display: inline-block;
      font-family: "Anton", Arial, Helvetica, sans-serif;
  }
    
ul li a {
    padding: 10px 3vw;
    text-decoration: none;
    font-size: 22px;
    color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 10px black;
    transition: 0.6s;
  }

ul li a:hover {
  background-color: rgb(118, 87, 255);
  box-shadow: 1px 1px 50px black;
}

ul li a:active {
  background-color: rgb(22, 0, 117);
  box-shadow: 1px 1px 50px black;
}

#lapa a img:hover {
  box-shadow: 1px 1px 50px black;
}

#lapa a img:active {
  background-color: rgb(118, 87, 255);
  box-shadow: 1px 1px 50px black;
}

main img {
  width: 100%;
}

main h1 {
  font-size: 5vw;
  text-align: center;
  font-family: "Anton", Arial, Helvetica, sans-serif;
  color: rgb(22, 0, 117);
  box-shadow: 1px 1px 10px black;
}

main #textos_esquerda h2 {
  font-size: 3vw;
  color: rgb(107, 85, 204);
  width: 50vw;
  text-align: center;
  font-family: "Open", Arial, Helvetica, sans-serif;
  float: left;
  text-align: center;
  margin-top: 4%;
}

main #textos_esquerda p {
  font-size: 2vw;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  float: left;
  width: 49vw;
  text-align: center;
}

main #textos_esquerda img {
  width: 49%;
}

main #textos_direita h2 {
  font-size: 3vw;
  color: rgb(107, 85, 204);
  width: 50vw;
  text-align: center;
  font-family: "Open", Arial, Helvetica, sans-serif;
  float: right;
  text-align: center;
  margin-top: 8%;
}

main #textos_direita p {
  font-size: 2vw;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  float: right;
  width: 50vw;
  text-align: center;
}

main #textos_direita iframe {
  width: 49%;
  margin-left: 5px;
}

.fundo_footer {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  background-color: rgb(204, 193, 255);
  padding-left: 45vw;
}

#icons img {
  width: 70px;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

#icons img:hover {
  box-shadow: 1px 1px 10px black;
}